body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u22749 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u22749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u22750 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u22750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u22751 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:39px;
  width:96px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u22751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22752 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u22752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u22753 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u22753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:365px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22754 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:170px;
  width:375px;
  height:365px;
  display:flex;
}
#u22754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u22755 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:552px;
  width:48px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u22755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22756 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:770px;
  width:187px;
  height:48px;
  display:flex;
  color:#666666;
}
#u22756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 216, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 216, 160, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22757 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:770px;
  width:187px;
  height:48px;
  display:flex;
  color:#FFFFFF;
}
#u22757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:143px;
}
#u22758 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:586px;
  width:375px;
  height:143px;
  display:flex;
}
#u22758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22759 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:39px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22760_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u22760 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:118px;
  width:30px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u22760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u22761 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:118px;
  width:755px;
  height:120px;
  display:flex;
  font-size:14px;
  line-height:24px;
}
#u22761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
