body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:52px;
  background:inherit;
  background-color:rgba(58, 177, 177, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:860px;
  height:52px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:82px;
  width:250px;
  height:200px;
  display:flex;
  font-size:12px;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:132px;
  width:426px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:132px;
  width:184px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:182px;
  width:426px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:182px;
  width:184px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:232px;
  width:426px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:232px;
  width:184px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8 label {
  left:0px;
  width:100%;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:162px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.disabled {
}
#u8.disabled {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u9 label {
  left:0px;
  width:100%;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:194px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.disabled {
}
#u9.disabled {
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10 label {
  left:0px;
  width:100%;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:226px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:116px;
  width:48px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:82px;
  width:426px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:82px;
  width:184px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:299px;
  width:1180px;
  height:1081px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:94px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:97px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:244px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:0px;
  width:103px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:572px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:50px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:50px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:50px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:50px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:50px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:70px;
  height:64px;
  display:flex;
  font-size:12px;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:64px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:100px;
  width:94px;
  height:64px;
  display:flex;
  font-size:12px;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:100px;
  width:97px;
  height:64px;
  display:flex;
  font-size:12px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:64px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:100px;
  width:244px;
  height:64px;
  display:flex;
  font-size:12px;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:64px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:100px;
  width:103px;
  height:64px;
  display:flex;
  font-size:12px;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:64px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:100px;
  width:572px;
  height:64px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:164px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:164px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:164px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:164px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:164px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:20px;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:124px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:70px;
  height:124px;
  display:flex;
  font-size:12px;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:124px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:214px;
  width:94px;
  height:124px;
  display:flex;
  font-size:12px;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:124px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:214px;
  width:97px;
  height:124px;
  display:flex;
  font-size:12px;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:124px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:214px;
  width:244px;
  height:124px;
  display:flex;
  font-size:12px;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:124px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:214px;
  width:103px;
  height:124px;
  display:flex;
  font-size:12px;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:124px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:214px;
  width:572px;
  height:124px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:84px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:70px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:338px;
  width:94px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:84px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:338px;
  width:97px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:84px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:338px;
  width:244px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:338px;
  width:103px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:84px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:338px;
  width:572px;
  height:84px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:422px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:422px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:422px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:422px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:422px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:422px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:164px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:70px;
  height:164px;
  display:flex;
  font-size:12px;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:164px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:472px;
  width:94px;
  height:164px;
  display:flex;
  font-size:12px;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:164px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:472px;
  width:97px;
  height:164px;
  display:flex;
  font-size:12px;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:164px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:472px;
  width:244px;
  height:164px;
  display:flex;
  font-size:12px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:164px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:472px;
  width:103px;
  height:164px;
  display:flex;
  font-size:12px;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:164px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:472px;
  width:572px;
  height:164px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:636px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:636px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:636px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:636px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:636px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:636px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:20px;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:104px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:70px;
  height:104px;
  display:flex;
  font-size:12px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:104px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:686px;
  width:94px;
  height:104px;
  display:flex;
  font-size:12px;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:104px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:686px;
  width:97px;
  height:104px;
  display:flex;
  font-size:12px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:104px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:686px;
  width:244px;
  height:104px;
  display:flex;
  font-size:12px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:104px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:686px;
  width:103px;
  height:104px;
  display:flex;
  font-size:12px;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:104px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:686px;
  width:572px;
  height:104px;
  display:flex;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:20px;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:790px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:790px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:790px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:790px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:790px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:790px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:20px;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:840px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:840px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:840px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:840px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:840px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:840px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:20px;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:84px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:890px;
  width:70px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:890px;
  width:94px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:84px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:890px;
  width:97px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:84px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:890px;
  width:244px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:890px;
  width:103px;
  height:84px;
  display:flex;
  font-size:12px;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:84px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:890px;
  width:572px;
  height:84px;
  display:flex;
  font-size:12px;
  color:#515151;
  text-align:left;
  line-height:20px;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:974px;
  width:70px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:974px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:974px;
  width:97px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:974px;
  width:244px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:974px;
  width:103px;
  height:50px;
  display:flex;
  font-size:12px;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:50px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:974px;
  width:572px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:57px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:70px;
  height:57px;
  display:flex;
  font-size:12px;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1024px;
  width:94px;
  height:57px;
  display:flex;
  font-size:12px;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1024px;
  width:97px;
  height:57px;
  display:flex;
  font-size:12px;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:57px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1024px;
  width:244px;
  height:57px;
  display:flex;
  font-size:12px;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:57px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1024px;
  width:103px;
  height:57px;
  display:flex;
  font-size:12px;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:57px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1024px;
  width:572px;
  height:57px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
