body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:638px;
  background:inherit;
  background-color:rgba(212, 214, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:1436px;
  height:638px;
  display:flex;
  font-size:12px;
}
#u13717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1245px;
  height:590px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:104px;
  width:1245px;
  height:590px;
  display:flex;
  font-size:12px;
}
#u13718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:0px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:54px;
  width:417px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13721_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:91px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u13721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:290px;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:290px;
  display:flex;
}
#u13723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:452px;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:171px;
  height:452px;
  display:flex;
}
#u13724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:104px;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:1266px;
  height:104px;
  display:flex;
}
#u13725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:241px;
  width:87px;
  height:38px;
  display:flex;
  font-size:12px;
}
#u13726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:241px;
  width:87px;
  height:38px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u13727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:2px;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:278px;
  width:1214px;
  height:1px;
  display:flex;
}
#u13728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:241px;
  width:87px;
  height:38px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u13729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4B8DFF;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:241px;
  width:87px;
  height:38px;
  display:flex;
  font-size:12px;
  color:#4B8DFF;
}
#u13730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:287px;
  width:1227px;
  height:116px;
}
#u13732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:110px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:27px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:0px;
  width:134px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:27px;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:201px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:27px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:215px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:27px;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:0px;
  width:164px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:27px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:0px;
  width:246px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u13738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:149px;
  height:29px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u13739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:27px;
  width:110px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:29px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:27px;
  width:134px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:27px;
  width:201px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:27px;
  width:215px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:29px;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:27px;
  width:164px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:29px;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:27px;
  width:246px;
  height:29px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:149px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u13746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:56px;
  width:110px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:56px;
  width:134px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:56px;
  width:201px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:56px;
  width:215px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:56px;
  width:164px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:56px;
  width:246px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:149px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u13753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:86px;
  width:110px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:86px;
  width:134px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:30px;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:86px;
  width:201px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:86px;
  width:215px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:86px;
  width:164px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:86px;
  width:246px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u13759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(250, 255, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:241px;
  width:87px;
  height:37px;
  display:flex;
  font-size:12px;
}
#u13760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:0px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:54px;
  width:417px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13763_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:91px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u13763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:91px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u13764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:145px;
  width:390px;
  height:252px;
}
#u13766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:31px;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:230px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:160px;
  height:31px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:31px;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:31px;
  width:230px;
  height:31px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u13769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:160px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:62px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:160px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:94px;
  width:230px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:160px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:124px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:160px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:156px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:160px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:188px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:160px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u13781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:220px;
  width:230px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u13782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13783_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:282px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u13783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:117px;
  width:188px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:115px;
  width:7px;
  height:18px;
  display:flex;
}
#u13785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:89px;
  height:74px;
  display:flex;
}
#u13787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:150px;
  width:198px;
  height:74px;
  display:flex;
}
#u13788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:164px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:186px;
  width:23px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:164px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:186px;
  width:12px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:164px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:186px;
  width:12px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:164px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:186px;
  width:12px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:150px;
  width:183px;
  height:74px;
  display:flex;
}
#u13798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:150px;
  width:89px;
  height:74px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u13799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:165px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:187px;
  width:57px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:165px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:center;
}
#u13802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:187px;
  width:57px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13804_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:423px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u13804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:423px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u13805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
