body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:729px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1436px;
  height:729px;
  display:flex;
}
#u8581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:120px;
}
#u8582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:120px;
  display:flex;
}
#u8582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:643px;
}
#u8583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:231px;
  height:643px;
  display:flex;
}
#u8583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:120px;
}
#u8584 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:1205px;
  height:120px;
  display:flex;
}
#u8584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
}
#u8585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:216px;
  height:45px;
  display:flex;
}
#u8585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8586 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:299px;
  width:117px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:335px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
}
#u8591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:463px;
  width:216px;
  height:45px;
  display:flex;
}
#u8591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8592 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:472px;
  width:117px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:60px;
  width:59px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u8594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 64, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:60px;
  width:130px;
  height:41px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
}
#u8595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:662px;
  background:inherit;
  background-color:rgba(248, 253, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8596 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:1218px;
  height:662px;
  display:flex;
}
#u8596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8597 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:165px;
  width:782px;
  height:332px;
}
#u8598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u8598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u8599 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:250px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u8600 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:150px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u8601 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:142px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u8602 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u8603 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8605 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:32px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8606 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:32px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8607 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:32px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:32px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:32px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:62px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8612 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:62px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8613 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:62px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8614 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:62px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8615 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:62px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8617 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:92px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8618 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:92px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8619 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:92px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8620 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:92px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8621 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:92px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8623 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:122px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8624 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:122px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8625 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:122px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8626 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:122px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8627 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:122px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8629 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:152px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:152px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:152px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:152px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8633 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:152px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8635 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:182px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8636 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:182px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8637 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:182px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8638 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:182px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8639 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:182px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8641 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:212px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8642 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:212px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8643 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:212px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8644 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:212px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:212px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:242px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:242px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:242px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:242px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:242px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:272px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:272px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:272px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8656 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:272px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#66CC66;
  line-height:20px;
}
#u8656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:272px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:302px;
  width:250px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:302px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u8660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:302px;
  width:142px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u8661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:302px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#FF6666;
  line-height:20px;
}
#u8662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:302px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#1989FA;
  line-height:20px;
}
#u8663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:134px;
  width:72px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u8664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8665_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#D7D7D7;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:125px;
  width:217px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#D7D7D7;
}
#u8665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8665_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#D7D7D7;
}
#u8665.disabled {
}
#u8666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:125px;
  width:60px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:125px;
  width:88px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8668_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:111px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8669_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:111px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8670_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:161px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8671_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:49px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:0px;
  width:361px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u8672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:57px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:80px;
  width:500px;
  height:60px;
}
#u8675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u8675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:400px;
  height:30px;
  display:flex;
}
#u8676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u8677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:30px;
  display:flex;
}
#u8678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:186px;
  width:400px;
  height:60px;
}
#u8680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u8680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8681 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u8681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u8682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u8683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8684_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:150px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:158px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8686_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:271px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:279px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:299px;
  width:334px;
  height:80px;
  display:flex;
  line-height:20px;
}
#u8688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
