body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u22277 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u22277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u22278 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u22278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u22279 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:39px;
  width:288px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u22279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22280 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u22280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u22281 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u22281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u22282 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:180px;
  width:12px;
  height:21px;
  display:flex;
  color:#FFFFFF;
}
#u22282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22283 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:180px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 216, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22284 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:771px;
  width:375px;
  height:47px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u22287 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u22287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u22288 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u22288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u22289 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:39px;
  width:224px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u22289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22290 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u22290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u22291 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u22291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u22292 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:180px;
  width:12px;
  height:21px;
  display:flex;
  color:#FFFFFF;
}
#u22292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22294 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:232px;
  width:45px;
  height:45px;
  display:flex;
}
#u22294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22295 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:247px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22295_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u22296 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:279px;
  width:346px;
  height:1px;
  display:flex;
}
#u22296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22297 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:247px;
  width:79px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22298 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:305px;
  width:79px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 216, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22299 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:771px;
  width:375px;
  height:47px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:175px;
}
#u22300 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:959px;
  width:375px;
  height:175px;
  display:flex;
}
#u22300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22301 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:180px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22303 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:290px;
  width:45px;
  height:45px;
  display:flex;
}
#u22303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22304 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:305px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22304_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u22305 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:337px;
  width:346px;
  height:1px;
  display:flex;
}
#u22305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22307 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:232px;
  width:45px;
  height:45px;
  display:flex;
}
#u22307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22308 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:247px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u22309 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:247px;
  width:23px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u22309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22309_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u22310 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:279px;
  width:346px;
  height:1px;
  display:flex;
}
#u22310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22312 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:290px;
  width:45px;
  height:45px;
  display:flex;
}
#u22312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22313 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:305px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22313 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u22314 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:305px;
  width:23px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u22314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22314_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u22315 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:337px;
  width:346px;
  height:1px;
  display:flex;
}
#u22315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:279px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22316 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:170px;
  width:375px;
  height:279px;
  display:flex;
}
#u22316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u22318 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:952px;
  width:25px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#797979;
}
#u22318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22319 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:955px;
  width:20px;
  height:20px;
  display:flex;
}
#u22319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22320 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:955px;
  width:20px;
  height:20px;
  display:flex;
}
#u22320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u22322 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:1003px;
  width:25px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#797979;
}
#u22322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22323 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1006px;
  width:20px;
  height:20px;
  display:flex;
}
#u22323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22324 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1006px;
  width:20px;
  height:20px;
  display:flex;
}
#u22324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22327 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:468px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u22327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22327_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u22328 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:489px;
  width:67px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#949494;
}
#u22328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u22329 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:462px;
  width:45px;
  height:45px;
  display:flex;
}
#u22329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22330 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:39px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22331_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u22331 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:118px;
  width:30px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u22331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u22332 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:118px;
  width:658px;
  height:72px;
  display:flex;
  font-size:14px;
  line-height:24px;
}
#u22332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.850980392156863);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22333 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:521px;
  width:376px;
  height:55px;
  display:flex;
}
#u22333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:242px;
}
#u22335 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:576px;
  width:377px;
  height:242px;
  display:flex;
}
#u22335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:125px;
  background:inherit;
  background-color:rgba(0, 216, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22336 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:693px;
  width:94px;
  height:125px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:121px;
}
#u22337 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:578px;
  width:1px;
  height:120px;
  display:flex;
}
#u22337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#00D8A0;
}
#u22339 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:541px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#00D8A0;
}
#u22339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22340 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:541px;
  width:14px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u22340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#00D8A0;
  text-align:right;
}
#u22341 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:460px;
  width:56px;
  height:26px;
  display:flex;
  font-size:22px;
  color:#00D8A0;
  text-align:right;
}
#u22341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22341_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:right;
}
#u22342 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:492px;
  width:56px;
  height:14px;
  display:flex;
  color:#AAAAAA;
  text-align:right;
}
#u22342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22342_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22343 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:255px;
  width:0px;
  height:0px;
  color:#1989FA;
}
#u22343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u22343_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-200px;
  width:10px;
  height:205px;
}
#u22343_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-200px;
  width:31px;
  height:10px;
}
#u22343_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u22343_seg4 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-205px;
  width:20px;
  height:20px;
}
#u22343_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-97px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:45px;
  background:inherit;
  background-color:rgba(191, 191, 0, 0.196078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22344 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:232px;
  width:372px;
  height:45px;
  display:flex;
}
#u22344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
