body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  display:flex;
}
#u15557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15558 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:68px;
  width:896px;
  height:506px;
  display:flex;
}
#u15558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15559 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:86px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u15560 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:79px;
  width:37px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u15560 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15561 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:283px;
  width:829px;
  height:150px;
}
#u15562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15563 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15564 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15565 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15566 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15567 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15568 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:99px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#4B8DFF;
}
#u15569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15570 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15571 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:30px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15572 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15573 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15574 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15575 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:30px;
  width:99px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:180px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#4B8DFF;
}
#u15576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15577 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15578 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:60px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15579 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15580 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15581 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15582 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:60px;
  width:99px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:180px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#4B8DFF;
}
#u15583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15584 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15585 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:90px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15586 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15587 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15588 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15589 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:90px;
  width:99px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u15590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:30px;
  display:flex;
  font-size:12px;
  color:#4B8DFF;
}
#u15590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15591 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15592 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:120px;
  width:150px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15593 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15594 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15595 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15596 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:120px;
  width:99px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15597 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:504px;
  width:108px;
  height:35px;
  display:flex;
  font-size:12px;
}
#u15597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15599 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:254px;
  width:8px;
  height:18px;
  display:flex;
}
#u15599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15600 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:255px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15600_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15602 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:125px;
  width:8px;
  height:18px;
  display:flex;
}
#u15602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15603 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:126px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15604 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:153px;
  width:200px;
  height:60px;
}
#u15605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15606 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15608 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15609 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:247px;
  width:79px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u15609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15610 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:247px;
  width:79px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u15610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15611 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:314px;
  width:60px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15612 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:314px;
  width:60px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15613 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:0px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u15614 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:68px;
  width:417px;
  height:48px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u15614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15615_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15615 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:116px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15616 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:116px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15618_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15618 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:225px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15619_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15619 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:225px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15620_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15620 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:314px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15621_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15621 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:507px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15622_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15622 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:176px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15623 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:176px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15625_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15625 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:239px;
  width:30px;
  height:30px;
  display:flex;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
  font-size:12px;
}
#u15625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15626 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:239px;
  width:417px;
  height:192px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15629_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15629 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:461px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15630 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:461px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 247, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 166, 210, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u15631 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:993px;
  width:585px;
  height:253px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u15631 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u15632 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:999px;
  width:417px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u15632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15634 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1052px;
  width:417px;
  height:171px;
}
#u15635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15636 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:257px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:160px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15638 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:24px;
  width:257px;
  height:24px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u15638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:27px;
}
#u15640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:160px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:27px;
}
#u15641 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:48px;
  width:257px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u15641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:160px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15643 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:75px;
  width:257px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u15643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:160px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15645 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:99px;
  width:257px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u15645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:160px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15647 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:123px;
  width:257px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u15647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u15648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:160px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:24px;
}
#u15649 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:147px;
  width:257px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#555555;
  text-align:left;
}
#u15649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15650 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1023px;
  width:417px;
  height:24px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
