body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  display:flex;
}
#u15049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:348px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15050 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:212px;
  width:718px;
  height:348px;
  display:flex;
}
#u15050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15051 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:362px;
  width:656px;
  height:90px;
}
#u15052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u15052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  display:flex;
}
#u15052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u15053 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:94px;
  height:30px;
  display:flex;
}
#u15053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15054 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u15054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15055 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u15055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15056 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:0px;
  width:102px;
  height:30px;
  display:flex;
}
#u15056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15057 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u15057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u15058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
  display:flex;
}
#u15058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u15059 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:94px;
  height:30px;
  display:flex;
}
#u15059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15060 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
}
#u15060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15061 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:30px;
  width:120px;
  height:30px;
  display:flex;
}
#u15061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15062 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:30px;
  width:102px;
  height:30px;
  display:flex;
}
#u15062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15063 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:30px;
  width:80px;
  height:30px;
  display:flex;
}
#u15063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u15064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
  display:flex;
}
#u15064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u15065 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:94px;
  height:30px;
  display:flex;
}
#u15065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15066 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:60px;
  width:200px;
  height:30px;
  display:flex;
}
#u15066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u15067 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:60px;
  width:120px;
  height:30px;
  display:flex;
}
#u15067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u15068 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:60px;
  width:102px;
  height:30px;
  display:flex;
}
#u15068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15069 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:60px;
  width:80px;
  height:30px;
  display:flex;
}
#u15069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15070 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:230px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15070_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u15071 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:230px;
  width:37px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u15071 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15072 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:327px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15072 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15073 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:503px;
  width:91px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u15073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15074 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:319px;
  width:91px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u15074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15075 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:0px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15076 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:44px;
  width:417px;
  height:63px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15077_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15077 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:178px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15078 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:178px;
  width:417px;
  height:72px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15080_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15080 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:408px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15081 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:408px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:608px;
}
#u15082 {
  border-width:0px;
  position:absolute;
  left:2002px;
  top:116px;
  width:1142px;
  height:608px;
  display:flex;
}
#u15082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15083_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15083 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:321px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15084_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15084 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:362px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15085_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15085 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:478px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15086_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15086 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:488px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15087 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:488px;
  width:417px;
  height:96px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15088 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:328px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15089 {
  border-width:0px;
  position:absolute;
  left:2525px;
  top:275px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15090 label {
  left:0px;
  width:100%;
}
#u15090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u15090 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:400px;
  width:31px;
  height:16px;
  display:flex;
}
#u15090 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u15090_img.selected {
}
#u15090.selected {
}
#u15090_img.disabled {
}
#u15090.disabled {
}
#u15090_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15090_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u15091 label {
  left:0px;
  width:100%;
}
#u15091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u15091 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:428px;
  width:31px;
  height:16px;
  display:flex;
}
#u15091 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u15091_img.selected {
}
#u15091.selected {
}
#u15091_img.disabled {
}
#u15091.disabled {
}
#u15091_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15091_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u15092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 242, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u15092 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:271px;
  width:656px;
  height:36px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u15092 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15093_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15093 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:319px;
  width:91px;
  height:30px;
  display:flex;
}
#u15093 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15093_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15093.disabled {
}
.u15093_input_option {
}
#u15094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15094 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:327px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15094_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15095_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15095 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:319px;
  width:91px;
  height:30px;
  display:flex;
}
#u15095 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15095_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15095.disabled {
}
.u15095_input_option {
}
#u15096_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15096 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:102px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15097 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:102px;
  width:417px;
  height:72px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15097 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15098 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:271px;
  width:417px;
  height:112px;
}
#u15099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u15099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u15100 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:257px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:48px;
}
#u15101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:48px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
}
#u15102 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:30px;
  width:257px;
  height:48px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u15102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
}
#u15104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:160px;
  height:34px;
  display:flex;
  font-size:12px;
  color:#555555;
}
#u15104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:34px;
}
#u15105 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:78px;
  width:257px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u15105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15107_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15107 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:274px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15108_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u15108 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:602px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u15108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u15109 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:602px;
  width:417px;
  height:48px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u15109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
