body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:729px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1436px;
  height:729px;
  display:flex;
}
#u8690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:120px;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:120px;
  display:flex;
}
#u8691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:643px;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:231px;
  height:643px;
  display:flex;
}
#u8692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:120px;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:1205px;
  height:120px;
  display:flex;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:216px;
  height:45px;
  display:flex;
}
#u8694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:299px;
  width:117px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:335px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
}
#u8700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:463px;
  width:216px;
  height:45px;
  display:flex;
}
#u8700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8701 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:472px;
  width:117px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:216px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u8702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8703 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:60px;
  width:59px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u8703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 64, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u8704 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:60px;
  width:130px;
  height:41px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
}
#u8704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:662px;
  background:inherit;
  background-color:rgba(248, 253, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8705 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:101px;
  width:1218px;
  height:662px;
  display:flex;
}
#u8705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:849px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.196078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:849px;
  display:flex;
}
#u8706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:222px;
  width:562px;
  height:308px;
  display:flex;
}
#u8707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:239px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:239px;
  width:18px;
  height:18px;
  display:flex;
}
#u8709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:333px;
  width:45px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:431px;
  width:57px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u8711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8711_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8712_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:288px;
  width:200px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8712_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8712.disabled {
}
#u8713 label {
  left:0px;
  width:100%;
}
#u8713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u8713 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:431px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#66CC66;
}
#u8713 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8713_img.selected {
}
#u8713.selected {
}
#u8713_img.disabled {
}
#u8713.disabled {
}
#u8713_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8713_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8714 label {
  left:0px;
  width:100%;
}
#u8714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:431px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF6666;
}
#u8714 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8714_img.selected {
}
#u8714.selected {
}
#u8714_img.disabled {
}
#u8714.disabled {
}
#u8714_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8714_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:470px;
  width:78px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8717 label {
  left:0px;
  width:100%;
}
#u8717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u8717 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:333px;
  width:210px;
  height:14px;
  display:flex;
}
#u8717 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8717_img.selected {
}
#u8717.selected {
}
#u8717_img.disabled {
}
#u8717.disabled {
}
#u8717_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:194px;
  word-wrap:break-word;
  text-transform:none;
}
#u8717_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8718 label {
  left:0px;
  width:100%;
}
#u8718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u8718 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:333px;
  width:210px;
  height:14px;
  display:flex;
}
#u8718 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8718_img.selected {
}
#u8718.selected {
}
#u8718_img.disabled {
}
#u8718.disabled {
}
#u8718_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:194px;
  word-wrap:break-word;
  text-transform:none;
}
#u8718_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8719 label {
  left:0px;
  width:100%;
}
#u8719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u8719 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:362px;
  width:210px;
  height:14px;
  display:flex;
}
#u8719 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8719_img.selected {
}
#u8719.selected {
}
#u8719_img.disabled {
}
#u8719.disabled {
}
#u8719_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:194px;
  word-wrap:break-word;
  text-transform:none;
}
#u8719_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8720 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:297px;
  width:69px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8720_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8721_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8721 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:386px;
  width:80px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u8721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8721_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8721.disabled {
}
#u8722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u8722 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:395px;
  width:57px;
  height:14px;
  display:flex;
  font-size:12px;
  text-align:right;
}
#u8722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8723 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:395px;
  width:7px;
  height:14px;
  display:flex;
}
#u8723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8723_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8724_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8724 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:50px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8725_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8725 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:276px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8726 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:1px;
  width:361px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u8726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8727 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:58px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8728 {
  border-width:0px;
  position:absolute;
  left:1506px;
  top:87px;
  width:400px;
  height:152px;
}
#u8729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u8729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8730 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u8730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u8731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8732 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
  display:flex;
}
#u8732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u8733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8734 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
}
#u8734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  color:#555555;
}
#u8735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8736 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:300px;
  height:30px;
  display:flex;
  line-height:20px;
}
#u8736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u8737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:32px;
  display:flex;
}
#u8737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u8738 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:300px;
  height:32px;
  display:flex;
  line-height:20px;
}
#u8738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8739_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8739 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:262px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8740_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8740 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:456px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u8740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8741 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:270px;
  width:24px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8742 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:294px;
  width:405px;
  height:60px;
  display:flex;
  line-height:20px;
}
#u8742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
