body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u23101 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u23101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u23102 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u23102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u23103 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:39px;
  width:192px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u23103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23104 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u23104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u23105 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u23105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23107 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:760px;
  width:375px;
  height:58px;
  display:flex;
}
#u23107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23109 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:765px;
  width:35px;
  height:35px;
  display:flex;
}
#u23109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#3EE1B7;
}
#u23110 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:800px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#3EE1B7;
}
#u23110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23111 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:765px;
  width:45px;
  height:45px;
  display:flex;
}
#u23111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23113 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:765px;
  width:35px;
  height:35px;
  display:flex;
}
#u23113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u23114 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:800px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#5E5E5E;
}
#u23114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:648px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23115 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:170px;
  width:375px;
  height:648px;
  display:flex;
}
#u23115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23116 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:342px;
  width:275px;
  height:216px;
  display:flex;
}
#u23116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23118 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:385px;
  width:100px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u23119 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:436px;
  width:108px;
  height:14px;
  display:flex;
  color:#AEAEAE;
}
#u23119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 216, 160, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u23120 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:487px;
  width:70px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:22px;
}
#u23120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u23121 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:487px;
  width:70px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:22px;
}
#u23121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u23124 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u23124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u23125 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u23125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u23126 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:39px;
  width:224px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u23126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23127 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u23127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u23128 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u23128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:327px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23129 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:170px;
  width:375px;
  height:327px;
  display:flex;
}
#u23129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:321px;
}
#u23130 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:497px;
  width:375px;
  height:321px;
  display:flex;
}
#u23130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23132 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:517px;
  width:30px;
  height:30px;
  display:flex;
  font-size:10px;
}
#u23132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23133 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:521px;
  width:93px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23133 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u23136 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u23136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u23137 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u23137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u23138 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:39px;
  width:224px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u23138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23139 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u23139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u23140 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u23140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u23141 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:170px;
  width:375px;
  height:45px;
  display:flex;
}
#u23141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:149px;
}
#u23142 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:223px;
  width:355px;
  height:149px;
  display:flex;
}
#u23142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:816px;
}
#u23145 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:87px;
  width:419px;
  height:816px;
  display:flex;
}
#u23145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u23146 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:39px;
  width:34px;
  height:42px;
  display:flex;
}
#u23146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u23147 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:39px;
  width:224px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#CCCCCC;
}
#u23147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23148 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:151px;
  width:375px;
  height:667px;
  display:flex;
}
#u23148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u23149 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:151px;
  width:375px;
  height:19px;
  display:flex;
}
#u23149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:299px;
}
#u23150 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:518px;
  width:375px;
  height:299px;
  display:flex;
}
#u23150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:327px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23151 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:170px;
  width:375px;
  height:327px;
  display:flex;
}
#u23151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23153 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:531px;
  width:30px;
  height:30px;
  display:flex;
  font-size:10px;
}
#u23153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23154 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:535px;
  width:83px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23154 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23155 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:479px;
  width:45px;
  height:45px;
  display:flex;
}
#u23155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23156 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:502px;
  width:0px;
  height:0px;
  color:#1989FA;
}
#u23156_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:169px;
  height:10px;
}
#u23156_seg1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-447px;
  width:10px;
  height:452px;
}
#u23156_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-447px;
  width:34px;
  height:10px;
}
#u23156_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u23156_seg4 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-452px;
  width:20px;
  height:20px;
}
#u23156_text {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-162px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23157 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:658px;
  width:45px;
  height:45px;
  display:flex;
}
#u23157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23158 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:681px;
  width:0px;
  height:0px;
  color:#1989FA;
}
#u23158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:342px;
  height:10px;
}
#u23158_seg1 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:-626px;
  width:10px;
  height:631px;
}
#u23158_seg2 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:-626px;
  width:39px;
  height:10px;
}
#u23158_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u23158_seg4 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:-631px;
  width:20px;
  height:20px;
}
#u23158_text {
  border-width:0px;
  position:absolute;
  left:287px;
  top:-167px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23159 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:729px;
  width:45px;
  height:45px;
  display:flex;
}
#u23159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23160 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:752px;
  width:0px;
  height:0px;
  color:#1989FA;
}
#u23160_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:112px;
  height:10px;
}
#u23160_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-737px;
  width:10px;
  height:742px;
}
#u23160_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-737px;
  width:488px;
  height:10px;
}
#u23160_seg3 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:-737px;
  width:10px;
  height:50px;
}
#u23160_seg4 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:-697px;
  width:54px;
  height:10px;
}
#u23160_seg5 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u23160_seg6 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:-702px;
  width:20px;
  height:20px;
}
#u23160_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-604px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23161 {
  border-width:0px;
  position:absolute;
  left:1957px;
  top:39px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23162_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u23162 {
  border-width:0px;
  position:absolute;
  left:1957px;
  top:118px;
  width:30px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u23162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u23163 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:118px;
  width:1041px;
  height:216px;
  display:flex;
  font-size:14px;
  line-height:24px;
}
#u23163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(86, 189, 105, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u23164 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:404px;
  width:264px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u23164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
