body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:936px;
  display:flex;
}
#u16121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:572px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16122 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:148px;
  width:1077px;
  height:572px;
  display:flex;
}
#u16122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16123 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:177px;
  width:36px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u16124 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:170px;
  width:37px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u16124 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16125 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:231px;
  width:1008px;
  height:362px;
}
#u16126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u16127 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:127px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16128 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16129 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u16130 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:0px;
  width:320px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u16131 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:0px;
  width:180px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u16132 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:124px;
}
#u16133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:124px;
}
#u16134 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:127px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:124px;
}
#u16135 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:30px;
  width:80px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:124px;
}
#u16136 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:30px;
  width:80px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
#u16137 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:30px;
  width:320px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:124px;
}
#u16138 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:30px;
  width:180px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:124px;
}
#u16139 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:30px;
  width:140px;
  height:124px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:52px;
}
#u16141 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:154px;
  width:127px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16142 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:154px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16143 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:154px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
}
#u16144 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:154px;
  width:320px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u16145 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:154px;
  width:180px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16146 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:154px;
  width:140px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:52px;
}
#u16148 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:206px;
  width:127px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16149 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:206px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16150 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:206px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
}
#u16151 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:206px;
  width:320px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u16152 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:206px;
  width:180px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16153 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:206px;
  width:140px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:52px;
}
#u16155 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:258px;
  width:127px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16156 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:258px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16157 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:258px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
}
#u16158 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:258px;
  width:320px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u16159 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:258px;
  width:180px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16160 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:258px;
  width:140px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:52px;
}
#u16162 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:310px;
  width:127px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16163 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:310px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u16164 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:310px;
  width:80px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
}
#u16165 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:310px;
  width:320px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u16166 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:310px;
  width:180px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u16167 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:310px;
  width:140px;
  height:52px;
  display:flex;
  font-size:12px;
  line-height:20px;
}
#u16167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 141, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16168 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:647px;
  width:140px;
  height:40px;
  display:flex;
  font-size:12px;
}
#u16168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16169_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u16169 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:652px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u16169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u16170 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:0px;
  width:463px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u16170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16171 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:50px;
  width:417px;
  height:48px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16172_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u16172 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:98px;
  width:30px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u16172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u16173 {
  border-width:0px;
  position:absolute;
  left:1521px;
  top:98px;
  width:417px;
  height:62px;
  display:flex;
  font-size:12px;
  line-height:24px;
}
#u16173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
